<%- model_class = Api -%>

<div class="page-header">
  <h2>Search Options:
  <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_api_path,
                  :class => 'btn btn-primary' %>
  </h2>
</div>


<table class="table table-striped table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:query) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.query %></td>
        <td><%= api.name %></td>
        <td>
          <%= link_to "Search",
                  octosearch_api_path(api), 
                  :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_api_path(api), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      api_path(api),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

